<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dear Diary,</title>
   
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&ampdisplay=swap" rel="stylesheet">
    <link href="/Style.css" rel="stylesheet" type="text/css" media="all">
    
    <style>
      p{
        overflow: hidden;
      }
      
      p#last{
       text-align: center; 
      }
    
      img.icon{
        border: 4px inset #c38da2;
        float: right;
        width: auto;
        height: 190px;
      }
      
      div#post {
        height: auto;
        width: 100%;
        padding: 2rem;
        border: 4px outset #e0c5d0;
        gap: 1rem;
      } 
      
      h1{
        text-align: center;
        font-family: "Silkscreen", sans-serif;
        font-size: 4rem;
      }
      
      h2, h4, p{
        text-align: left;
        font-family: "Pixelify Sans", sans-serif;
      }
      
      h3{
       text-align: center;
       font-family: "Pixelify Sans", sans-serif;
      }
      
    
    </style>
  </head>
  
  <body>
    
    <header>
      <div class = "header-nav">
      
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/home">
          <button type="submit"> HOME </button> 
        </a>
      </div>

      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/intro">
          <button type="submit"> ABOUT </button> 
        </a>
      </div>
      
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/schedule">
          <button type="submit"> SCHEDULE </button> 
        </a>
      </div>
        
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/projects">
          <button type="submit"> PROJECTS </button> 
        </a>
      </div>
        
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/blog">
          <button type="submit" disabled> BLOGS </button> 
        </a>
      </div>      
        
      </div>
    </header>
        <img src = "Site Images/cloud.png" class="cloud">

  
  <main>
  <div class="container">
  <div>
    <h1>My Favourite movies</h1>

    <h3 style="font-size: 1rem;">If you don’t know me, I’m a massive movie buff. I love films so much, I actually racked up my student debt to study them! I thought I’d be learning all the cool behind-the-scenes stuff, but instead, I got a master’s in theory. Now I have a whole new level of appreciation for movies—and about <b>50 grand </b> less in my bank account to show for it! </h3>
  <br>
  <h3 style="font-size: 28px;">
    <em> College! <b> amirite?.</b></em> 
    </h3>
  <br>
  
    <h1 style="font-size: 1rem">Here are some movies I'm currently obsessed with:</h1>
    <br>
    <!--post 1-->
    <div id="post" style="background-color: #559acb; color: #fff">
      <h2 style="font-size: 2.5rem;"><a href="https://www.netflix.com/title/81127150?source=35" target="_blank">No.1: Do Revenge (2023)</a></h2>
    <p style="color:#fff; font-size: 0.75rem;">
    <img src="Site Images/doRevengePoster.jpg" alt="Do Revenge Poster" class="icon">

     <em> Do Revenge </em> is a stylish, sharp-witted teen comedy where two unlikely allies team up to take down their high school enemies. Think of it as Strangers on a Train, but with more TikTok references and less murder (sort of). Drea, the queen bee dethroned after a scandal, and Eleanor, the quirky new girl with a vengeance plan of her own, decide to swap targets and serve up revenge with a side of sass. It's a wild ride of drama, deception, and designer outfits, where no one escapes the chaos unscathed. In the end, revenge has never looked so petty—or so fun.
    </p>
    </div>
    <br>

    
    <!--post 2-->
    <div id="post" style="background-color: #844054; color: #d7b0bb">
          <h2 style="font-size: 2.5rem;"><a href="https://www.amazon.com/gp/video/detail/amzn1.dv.gti.afb19248-a0b3-4592-962b-acc35b69c750?autoplay=0&amp;ref_=atv_cf_strg_wb" target="_blank">No.2: Challengers (2024)</a></h2>

    <p style="color:#d7b0bb; font-size: 0.75rem;">
        <img src="Site Images/challengersPoster.jpg" alt="Challengers Poster" class="icon">    
      <em>Challengers</em> is a steamy sports drama that dives into the high-stakes world of professional tennis, where love, rivalry, and ambition serve up some serious drama. It follows Tashi, a fierce coach who finds herself caught in a love triangle with her husband and his rising star protégé. As tensions rise on and off the court, so do the stakes—both in the game and their relationships. With dazzling matches and emotional twists, this film serves a perfect blend of passion and competition, reminding us that in the game of love and tennis, sometimes you have to risk it all to come out on top. Get ready for a match that’s less about aces and more about the heart!
    </p>
    </div>   
    <br>

    
    <!--post 3-->
    <div id="post" style="background-color: #0b553c; color: #bbd6be">
      <h2 style="font-size: 2.5rem;"><a href="https://www.youtube.com/watch?v=p2j4lXPx2rA&amp;ab_channel=YouTubeMovies" target="_blank">No.3: Polite Society (2023)</a></h2>

      <p style="color:#bbd6be; font-size: 0.75rem;">
    <img src="Site Images/politeSocietyPoster.jpg" alt="Polite Society Poster" class="icon">
    <em>Polite Society</em> is a delightful blend of action and comedy that follows Ria, a spirited young woman who dreams of becoming a stuntwoman. When her sister gets swept off her feet by a wealthy suitor, Ria suspects foul play and decides to take matters into her own hands—think *Mission: Impossible* meets a quirky family wedding. With a ragtag crew of friends and a penchant for epic fight scenes, Ria dives headfirst into a whirlwind of mayhem, martial arts, and mismatched traditions. It’s a hilarious rollercoaster of sisterly love, hijinks, and a dash of revenge, proving that sometimes the best way to protect your family is with a little bit of chaos!
    </p>
    </div>
    <h3 style="font-size: 1rem;"> can you tell I love a female lead?</h3>
    </div>
    </div>
    
   
    </main>
    <footer>
       <div class = "footer-nav">
        <!--start button-->
        <div class="button" style="justify-content; center;">
          <a href="https://itskelechi.neocities.org/home">
            <button type="submit"> 
              <img src="Site Images/start-btn.png" alt="Start" style="width:100%">
            </button> 
          </a>
        </div>
        <!--copyright-->
        <p id="copyright" style="font-size: 8px; justify-content: center;">legal mumbo jumbo</p>
         <!--time stamp-->
        <p id="last" style="font-size: 8px; justify-content: end;"> ha ha you can't read this 😏 </p>
      </div>
    <script src="Scripts/script.js"></script>

      </footer>
    
    
      
  </body>
</html>
