<div class="form" style="background-image: url('Public/SiteImages/gallery/computer.jpg')">
  <div class="window" style="margin: 1.5rem; inline-size: auto; block-size: auto;">
    <div class="title-bar">
      <div class="title-bar-text" style="font-size: 18px">Leave a Message.</div>
      <div class="title-bar-ctrl">
        <button class="close" id="mini" disabled>&#95;</button>
        <button class="close" id="XCls" disabled>&#10006;</button>
      </div>
    </div>
    <div class="window-body">
      <form id="contact-form" method="POST">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Your Name" required>

        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email" placeholder="you@example.com" required>
        
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="subject" placeholder="Subject of Your Message" required>
        
        <label for="message">Message:</label>
        <textarea name="message" id="message" rows="5" cols="60" placeholder="What would you like to say?" required></textarea>

        <span class="required" id="required"></span>
        <!-- <input type="hidden" name="_next" value="https://itskelechi.neocities.org/home">
        <input type="hidden" name="_error" value="https://itskelechi.neocities.org/error.html"> -->

        <button type="submit" id="contact-submit">Send Message</button>
        <p id="contact-form-status" class="confirm"></p>
      </form>

    </div>
  </div>
</div>
<style>
  .required{
    font-size: small;
    color: var(--required-red);
  }
  .confirm{
    font-size: smaller;
  }
</style>
<script src="./js/contactForm.js"></script>