<footer>        
    <!--Start Pop Up-->
        <div class="footer-nav">
                <!--start button-->
          <div class="button" style="justify-content; center;">
            <button type="submit" class="popbtn" onclick="togglePopup()">
              <img src="SiteImages/buttons/start-btn.png" alt="Start">
            </button>
            <div id="popup-window" class="popup-content">
              <a href="home.html">Home</a>
              <a href="intro.html">About</a>
              <a href="schedule.html">Schedule</a>
              <a href="projects.html">Projects</a>
              <a href="blog.html">Blogs</a>
            </div>
          </div>
        </div>
      </footer>
    <script src="Scripts/popup.js"></script>
    <script src="Scripts/download.js"> </script>
    <script src="Scripts/dropdown.js"></script>
    <script src="Scripts/script.js"></script>
    <script src="Scripts/search.js"></script>

  </body>
</html>
