<footer>
       <div class = "footer-nav">
        start button
        <div class="button" style="justify-content; center;">
            <button type="submit" class="dropbtn" onclick="toggleDropdown()"> 
              <img src="Site Images/start-btn.png" alt="Start" style="width:100%">
            </button> 
            <div id="dropdown-menu" class="dropdown-content">
              <a href="https://itskelechi.neocities.org/home">Home</a>
              <a href="https://itskelechi.neocities.org/intro">About</a>
              <a href="https://itskelechi.neocities.org/schedule">Schedule</a>
              <a href="https://itskelechi.neocities.org/projects">Projects</a>
              <a href="https://itskelechi.neocities.org/blog">Blogs</a>
            </div>
        </div>
      </div>

        <!--copyright-->
        <p id="copyright" style="font-size: 8px; justify-content: center;">legal mumbo jumbo</p>
        <br>
         <!--time stamp-->
        <p id="last" style="font-size: 8px; justify-content: end;"> may the force be with you </p>
      </div>
      
      
    <script src="Scripts/download.js"> </script>
    <script src="Scripts/dropdown.js"></script>
    <script src="Scripts/script.js"></script>
        <script src="Scripts/search.js"></script>

    `</footer>

  </body>
</html>
