
</div>
</div>
<footer>        
  <div class="footer-nav">
    
    <!--start button-->
    <div class="drop-menu">
      <button class="dropUpbtn" onclick="toggleStartMenu()" id="start-btn">
        <img src="./SiteImages/buttons/start-btn.png" alt="Start" class="start">
      </button>
      <div id="start-menu" class="dropUp-content">
        <a href="/home">  
          <img src="./SiteImages/Icons/home-icon.png" class="sm-icon"> Home
        </a>
        <a href="/about">
          <img src="./SiteImages/Icons/about-icon.png" class="sm-icon"> About</a>
        <a href="/schedule">
          <img src="./SiteImages/Icons/schedule-icon.png" class="sm-icon"> Schedule</a>
        <a href="/projects">
          <img src="./SiteImages/Icons/projects-icon.png" class="sm-icon"> Projects</a>
        <a href="/blog">
          <img src="./SiteImages/Icons/blog-icon.png" class="sm-icon"> Blogs</a>
        <a href="/contact">
          <img src="./SiteImages/Icons/contact-icon.png" class="sm-icon"> Contact Me</a>

      </div>
    </div>
  </div>

  <div class="info">
    <p id="copyright" class="copy">legal mumbo jumbo</p>
    <p id="last"> may the force be with you </p>
  </div>   
  
    
    <script src="./js/carousel.js"></script>
    <script src="./js/contact.js"></script>
    <script src="./js/download.js"></script>
    <script src="./js/dropdown.js"></script>
    <script src="./js/popup.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/search.js"></script>
</footer>

</body>
</html> 