</div>
</div>
</main>
<footer>        
<!--Start Pop Up-->
  <div class="footer-nav">
    <!--start button-->
    <div class="button" id="drop-menu">
      <button type="submit" class="dropUpbtn" onclick="toggleDropdown()">
        <img src="./SiteImages/buttons/start-btn.png" alt="Start" class="start">
      </button>
      <div id="dropUp-window" class="dropUp-content">
        <a href="home.html">Home</a>
        <a href="intro.html">About</a>
        <a href="schedule.html">Schedule</a>
        <a href="projects.html">Projects</a>
        <a href="blog.html">Blogs</a>
      </div>
    </div>

            <!--copyright-->
    <p id="copyright" style="font-size: 8px; justify-content: center;">legal mumbo jumbo</p>
    <br>
      <!--time stamp-->
    <p id="last" style="font-size: 8px; justify-content: end;"> may the force be with you </p>
</footer>
    
    <script src="./js/carousel.js"></script>
    <script src="./js/contact.js"></script>
    <script src="./js/download.js"></script>
    <script src="./js/dropUp.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/search.js"></script>
</footer>