   <div class="gallery-container">
       <div class = "gallery">
            <img src="glitter-pen.jpg" alt = "Pink background, white text: Signs legal docment in glitterpen"/>
            <img src ="SiteImages/gallery/bath.jpg" alt = "bath" />
            <img src ="SiteImages/gallery/bot.jpg" alt = "robot" />
            <img src ="SiteImages/gallery/computer-garden.jpg" alt = "computer garden" />
            <img src ="SiteImages/gallery/cruise.jpg" alt = "girl on boat cruising pink river" />
            <img src ="SiteImages/gallery/indoor-pool.jpg" alt = "indoor pool" />
            <img src ="Untitled-1.jpg" alt = "digital painting" />
            <img src ="SiteImages/gallery/lobby.jpg" alt = "waiting room" />
            <img src ="SiteImages/gallery/cherry-martini.jpg" alt = "cherry martini" />
            <img src ="SiteImages/gallery/space-railway.jpg" alt = "palnet H.E.R" />
            <img src ="SiteImages/gallery/sleep-float.jpg" alt = "bed floating on river" />
            <img src ="SiteImages/gallery/pink-time-hallway.jpg" alt = "time hallway" />
            <img src ="SiteImages/gallery/pink-subway.jpg" alt = "metrocar" />
            
            
          </div>
      </div>