<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&ampdisplay=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    

    
<script src="Scripts/search.js"></script>

  </head>
 
  <body>
  
    <header>
      <div class = "header-nav">
      
        <div class="button" style="justify-content; center;">
          <a href="/home">
            <button type="submit"> HOME </button> 
            <span class="nav-icon">          
              <img src="./SiteImages/Icons/home-icon.png" class="sm-icon" style="display:none" alt="Home">
            </span>
          </a>
        </div>

        <div class="button" style="justify-content; center;">
          <a href="/about">
            <button type="submit"> ABOUT </button> 
            <span class="nav-icon">          
              <img src="./SiteImages/Icons/about-icon.png" class="sm-icon" style="display:none" alt="About">
            </span>
          </a>
        </div>
        
        
        <div class="button" style="justify-content; center;">
          <a href="/projects">
            <button type="submit"> PROJECTS </button> 
            <span class="nav-icon">          
              <img src="./SiteImages/Icons/projects-icon.png" class="sm-icon" style="display:none" alt="Projects">
            </span>
          </a>
        </div>
          
        <div class="button" style="justify-content; center;">
          <a href="/blog">
            <button type="submit"> BLOGS </button> 
            <span class="nav-icon">          
              <img src="./SiteImages/Icons/blog-icon.png" class="sm-icon" style="display:none" alt="Blogs">
            </span>
          </a>
        </div>      
        
        <div class="button" style="justify-content; center;">
          <a href="/contact">
            <button type="submit"> CONTACT </button> 
            <span class="nav-icon">          
              <img src="./SiteImages/Icons/contact-icon.png" class="sm-icon" style="display:none" alt="Contact Me">
            </span>
          </a>
        </div>
      </div>
    </header>
    <img src = "SiteImages/layout/cloud.png" class="cloud">
  
      <main>