<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="Kelechi's Portfolio" content="width=device-width, initial-scale=1.0">
    <title>We've been waiting for you</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&ampdisplay=swap" rel="stylesheet">
    <link href="./style.css" rel="stylesheet" type="text/css" media="all">
      <!--<link rel="stylesheet" href="https://unpkg.com/98.css" />-->
      
      <style>
        h1{
            font-family: "Silkscreen", sans-serif;
            color: #ffffff;
            font-size: 72px;
        }
            
        p#last{
            color: #fff; 
        }      
      </style>
  </head>
  
  <body>
     {{{body}}}
      
      <script>
        var lastUpdated = document.lastModified;
        var element = document.getElementById("last");
        element.innerHTML = "<small>Last Updated: " +lastUpdated + "</small>";
      </script>
      
  </body>
</html>
