<div id="err404">
    <div class="err-msg">
        <h1 ><img src="./SiteImages/icons/caution.png" class="caution"/>ERROR: </h1>
        <h1 class="h2">LOL, THERE'S NOTHING HERE</h1>
    </div>

    <div class="return-home">
        <a href="/home" class="home">
            <div style="position: relative; width: 100%; height: 100%;">
                <!-- World Icon -->
                <img src="./SiteImages/icons/return-home-icon.png" class="go-home"/>
                
                <!-- Curved Text -->
                <svg width="200" height="120" viewBox="0 0 200 120">
                    <path id="curve" d="M40,80 A80,75 0 0,1 160,80" fill="transparent"/>
                    <text class="text" fill="white">
                        <textPath href="#curve" startOffset="50%" text-anchor="middle" style="text-shadow: 2px 2px 0px var(--hunter-green); letter-spacing: 1px;">
                            RETURN HOME
                        </textPath>
                    </text>
                </svg>
            </div>
        </a>
    </div>

    <div class="stop">
        <h3 style="color: white;">REALLY STOP!</h3>
        <h4 style="color: white;">What are you? the US Government?</h4>
    </div>
    <div class="tooltip">
        <p class="hm-redirect tooltip">
            <a href="/home">(Follow the stones to the transporter)</a>
            <span class="tooltiptext">or click Here - if lazy</span>
        </p>
    </div>
   
    <p id='last'>ladidi ladida</p>
</div>

<style>
    #err404{
        text-align: end;
        position: relative;
        width: 100vw;
        height: 100vh;
        background: url('./SiteImages/layout/e404.jpg') no-repeat center/cover;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    h1,h2{
        color: var(--black);
        float: left;
        top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h1.h2{
        font-size: 3rem;
        margin-left: 50px;
        width: 750px;
    }
    .text{
        font-family: "Silkscreen", sans-serif;
        font-size: clamp(12px, 1.5vw, 16px); 
    }
    .err-msg{
        position: fixed; 
        top: 30px; 
        align-items: end; 
        right: 50px; 
    }
    .stop{
        color: #ffffff !important;
        position: fixed; 
        bottom: 230px; 
        align-items: end; 
        right: 50px;
         color: var(--white) !important;
        background-color: transparent !important;
    }

    h3,h4,p,{
        float: left;
        bottom: 30px;
          color: var(--white) !important;
    }
    img.caution{
        width: 64px;
        height: auto;
        margin-right: 1rem;
    }
    img.go-home{
        width: clamp(45px, 8vw, 95px);
        margin-right: 0.5rem;
        position: absolute;
        top: 80%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
    }
    a.home{
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        z-index: 2;
        filter: drop-shadow(0px 0px 8px var(--light-mauve))
                drop-shadow(0px 0px 16px var(--light-mauve))
                drop-shadow(0px 0px 24px var(--light-mauve))
                drop-shadow(0px 0px 32px var(--light-mauve));
    }
    .hm-redirect{
        font-size: 0.75rem;
    }
    .tooltip{
        bottom: 0;
        right: 50px;
    }
    .return-home{
        position: fixed;
        top: 50%;
        right: clamp(50%, 50%, 50px);
        transform: translateY(-50%);
        text-align: center;
        width: min(200px, 30vw);
        height: 100px;
        transition: all 0.3s ease;
    }
    svg {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0; 
        z-index: 1;
    }

</style>