<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dear Diary,</title>
   
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&ampdisplay=swap" rel="stylesheet">
    <link href="/css/gothStyle.css" rel="stylesheet" type="text/css" media="all">
    
    <style>
      p{
        overflow: hidden;
      }
      
      p#last{
       text-align: center; 
      }
    
      img.icon{
        border: 4px inset #c38da2;
        float: right;
        width: auto;
        height: 190px;
      }
      
      div#post {
        height: auto;
        width: 100%;
        padding: 2rem;
        border: 4px outset #e0c5d0;
        gap: 1rem;
      } 
      
      h1{
        text-align: center;
        font-family: "Silkscreen", sans-serif;
        font-size: 4rem;
      }
      
      h2, h4, p{
        text-align: left;
        font-family: "Pixelify Sans", sans-serif;
      }
      
      h3{
       text-align: center;
       font-family: "Pixelify Sans", sans-serif;
      }
      
    
    </style>
  </head>