
      <div class="container">
      
        <div id="left-column">
          <div class="comment-section">
            <div class="window" style="margin: 0.5rem; width:100%; height:auto;">
              <div class="title-bar">
                <div class="title-bar-text" style="font-size: 18px">Leave a Comment</div>
              </div>
              <div class="window-body" style="justify-content: center; text-align: center; padding: 0.75rem;">         
                <textarea id="comment" style="font-size:11px" placeholder="For your couple of pennies"> </textarea>
                <textarea id="author" style="font-size:8px" placeholder="Author name"></textarea>
                <button type="submit"> SEND </button> 
              </div>
            </div>
          </div>
        </div>

        
        <div id="right-column">
          <div class="form" style="background-image: url('Public/SiteImages/gallery/computer.jpg')">
            <div class="window" style="margin: 5rem; width: auto; height: auto;">
      
              <div class="title-bar">
              <div class="title-bar-text" style="font-size: 24px">Leave a Me</div>
            </div>
      
              <div class="window-body">
                <form id="contactForm" action="https://formspree.io/f/mdkodzkb" method="POST">

                  <label for="name">Name:</label>
                  <input type="text" name="name" id="name" placeholder="Your Name" required>
          
                  
                  <label for="email">Email Address:</label>
                  <input type="email" name="email" id="email" placeholder="you@example.com" required>
          
                  
                  <!--<label for="subject">Subject:</label>-->
                  <!--<input type="text" name="subject" id="subject" placeholder="Subject of Your Message" required>-->
                  
                  <label for="message">Message:</label>
                  <textarea name="message" id="message" placeholder="What would you like to say?" required></textarea>
          
                  
                  <!-- <input type="hidden" name="_next" value="https://itskelechi.neocities.org/home">
                  <input type="hidden" name="_error" value="https://itskelechi.neocities.org/error.html"> -->

                  <button type="submit">Send Message</button>
                  <p id="formStatus">xoxo K</p>
                </form>

              </div>
            </div>
          </div>
        </div>

        <!-- social media icons -->
        <!-- <div class = "sm-icons">
          <button type="submit" >
            <img src="./SiteImages/icons/facebook-icon.png" alt="Search" class="sm-icon">
            <a href="https://www.facebook.com/theredgirlcompany" target="_blank"></a>
          </button>
          <button type="submit" >
            <img src="./SiteImages/icons/instagram-icon.png" alt="Search" class="sm-icon">
            <a href="https://www.instagram.com/mpdbg.jpg/" target="_blank">
            </button>
          <button type="submit" >
            <img src="./SiteImages/icons/linked-in.png" alt="Search" class="sm-icon">
            <a href="https://www.linkedin.com/in/kelechi-ariwodo-735545114/" target="_blank">
            </button>
          <button type="submit" >
            <img src="./SiteImages/icons/spotify.png" alt="Search" class="sm-icon">
            <a href="https://open.spotify.com/user/12172732320?si=b77411fc88ca40ae" target="_blank"></a>
          </button>
          <button type="submit" >
            <img src="./SiteImages/icons/facebook-icon.png" alt="Search" class="sm-icon">
            <a href="https://www.facebook.com/theredgirlcompany" target="_blank"></a>
          </button>
        </div> -->
      </div>
    </main>
    
  <script>
const form = document.getElementById("contactForm");
const reply = document.getElementById("formStatus");

form.addEventListener("submit", function(event) {
    event.preventDefault();
    const formData = new FormData(form);
    const urlEncodedData = new URLSearchParams();
    formData.forEach((value, key) => {
        urlEncodedData.append(key, value);
    });
    fetch(form.action, {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: urlEncodedData
    }).then(response =>{
        if (response.status === 200){
            form.reset();
            console.log("Message sent")
            reply.style.display = "block";
            reply.innerHTML = "Thanks for your message! We'll talk soon. \n - xoxo K"

        } else{
          console.log("Message NOT sent")
            reply.innerHTML= "Oops! There was a problem submitting your form. Please try again"
        }
    }).catch(err =>{
        console.err('Error: ', err);
        reply.innerHTML ="Thanks for your message! We'll talk soon. xoxo K"
    });
    
});
  
  </script>
