
      <div class="container">
      
        <div id="left-column">
          <div class="comment-section">
            <div class="window" style="margin: 0.5rem; width:100%; height:auto;">
              <div class="title-bar">
                <div class="title-bar-text" style="font-size: 18px">Leave a Comment</div>
                <div class="title-bar-ctrl">
                  <button class="close" id="mini">&#95;</button>
                  <button class="close" id="XCls">&#10006;</button>
                </div>
              </div>
              <div class="window-body" style="justify-content: center; text-align: center; padding: 0.75rem;">         
                <textarea id="comment" style="font-size:11px" placeholder="For your couple of pennies"> </textarea>
                <textarea id="author" style="font-size:8px" placeholder="Author name"></textarea>
                <button type="submit"> SEND </button> 
              </div>
            </div>
          </div>
        </div>

        
        <div id="right-column">
          
        </div>

        <!-- social media icons -->
        <!-- <div class = "sm-icons">
          <button type="submit" >
            <img src="./SiteImages/icons/facebook-icon.png" alt="Search" class="sm-icon">
            <a href="https://www.facebook.com/theredgirlcompany" target="_blank"></a>
          </button>
          <button type="submit" >
            <img src="./SiteImages/icons/instagram-icon.png" alt="Search" class="sm-icon">
            <a href="https://www.instagram.com/mpdbg.jpg/" target="_blank">
            </button>
          <button type="submit" >
            <img src="./SiteImages/icons/linked-in.png" alt="Search" class="sm-icon">
            <a href="https://www.linkedin.com/in/kelechi-ariwodo-735545114/" target="_blank">
            </button>
          <button type="submit" >
            <img src="./SiteImages/icons/spotify.png" alt="Search" class="sm-icon">
            <a href="https://open.spotify.com/user/12172732320?si=b77411fc88ca40ae" target="_blank"></a>
          </button>
          <button type="submit" >
            <img src="./SiteImages/icons/facebook-icon.png" alt="Search" class="sm-icon">
            <a href="https://www.facebook.com/theredgirlcompany" target="_blank"></a>
          </button>
        </div> -->
      </div>
    </main>
    
  <script>
const form = document.getElementById("contactForm");
const reply = document.getElementById("formStatus");

form.addEventListener("submit", function(event) {
    event.preventDefault();
    const formData = new FormData(form);
    const urlEncodedData = new URLSearchParams();
    formData.forEach((value, key) => {
        urlEncodedData.append(key, value);
    });
    fetch(form.action, {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: urlEncodedData
    }).then(response =>{
        if (response.status === 200){
            form.reset();
            console.log("Message sent")
            reply.style.display = "block";
            reply.innerHTML = "Thanks for your message! We'll talk soon. \n - xoxo K"

        } else{
          console.log("Message NOT sent")
            reply.innerHTML= "Oops! There was a problem submitting your form. Please try again"
        }
    }).catch(err =>{
        console.err('Error: ', err);
        reply.innerHTML ="Thanks for your message! We'll talk soon. xoxo K"
    });
    
});
  
  </script>
