      <div class="container">
        <div id="left-column">
          <div class="button" style="justify-content; center; padding: 1rem auto;">
            <a href="waitroom.html" target="_blank">
              <button type="submit" style="padding: 0.5rem 0"> Get In Touch </button> </a>
          </div>
        
          <!--photo-->
          <div class="window" style="margin: 0.5rem; inline-size: 75%; block-size: auto;">
            <div class="title-bar-spotify" style="gap: 3rem;">
                <div class="title-bar-text"><br></div>
            </div>
            <div class="window-body">
              <p>
                <img src = "./SiteImages/gallery/man-on-saturn.jpg" class="windowIcon">
              </p>
            </div>
          </div>
          
          <!--spotify-->
          <div class="window-spotify" style="margin: 0.5rem 0; inline-size: 100%; block-size: auto;">
            <div class="title-bar-spotify" style="">
              <div class="title-bar-text"><br></div>
            </div>            
            <div class="window-body" >
              <iframe style="border-radius:0px" src="https://open.spotify.com/embed/playlist/4WNH0tEgzMePmyjDe2Okym?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay;" loading="lazy"></iframe>
            </div>
          </div>
          
        </div>
        <!--left-col end-->
        
        <div id="center-column">
         
          <div class="window" style="margin: 3.5rem 0.5rem; inline-size: 80%; block-size: auto;">
            <div class="title-bar" >
                <div class="title-bar-text">Welcome to My Pink Paradise!</div>
            </div>
            <div class="window-body">
              <p class="pixelify-sans-pixelify">Hi! I’m Kelechi!</p>
              <br>
              <p class="pixelify-sans-pixelify" style="font-size:12px">And if there’s one thing you should know about me, it’s that I'm obsessed with bold vibes, creative chaos, (and, yes, all things pink). Seriously, if it’s not pink, make it pink quickly!!! (except in my fashion expression where my clothes tend to lean more umm--- <em>gothic</em> ) </p>
              <br>
              <p class="pixelify-sans-pixelify">
                This little corner of the web is where tech meets style, and where femininity isn’t just the appreciated—it’s practically throwing a party with confetti cannons. I’m all about coding cool things by day and creating design magic by night (with an explosion of visual texture, obviously). </p>
                
              <br>
              <p class="pixelify-sans-pixelify">
                <em>So, if you like breaking the rules, making things pop, and believe that everything is better with a touch of pink? </em><p>
                <br>
                <h1 style="text-align: center; font-size: 21px">
                <b>WELCOME !</b></h1>
                <br>
                <p class="pixelify-sans-pixelify" style="text-align: center;">
                Grab a seat, let’s make something amazing, and i promise i'll bring pizza.
            </p>
            <p style="float: inline-end; padding-block-end: 1rem;">
                <img src = "./SiteImages/layout/signature.png" style="display: inline-flex; align-content: right; max-inline-size: 200px; block-size: auto;"></p>
             
            </div>
          </div>
        </div>  
        <!--center col end-->
        
        <div id="right-column">
        <!--search bar-->
       <div class="input" style="margin: 0.5rem;">
        <input type="text" name="query" id= "searchInput" placeholder="What'cha looking for?" required>
          <button type="submit" onclick="search()">
            <img src="./SiteImages/search-btn.png" alt="Search">
          </button>
      </div>
      <!--photo-->
        <div class="window" style="margin: 0.5rem; inline-size: 75%; block-size: 400px;">
          <div class="title-bar-spotify" style="gap: 3rem;">
            <div class="title-bar-text"><br></div>
          </div>
          <div class="window-body">
            <img src = "./SiteImages/gallery/pond.jpg" class="windowIcon">
          </div>
        </div>
        
        <!--social media buttons-->
        <div>
          <ul style="list-style-type: none; display: inline-block;">
          
            <li> 
              <a href="https://www.facebook.com/theredgirlcompany" target="_blank" class="sm-btn">
                <img src="./SiteImages/Icons/facebook-icon.png" alt="Facebook" class="sm-icon">
              </a>
          
              <a href="https://www.instagram.com/mpdbg.jpg/" target="_blank" class="sm-btn">
                <img src="./SiteImages/Icons/instagram-icon.png" alt="Instagram" class="sm-icon">
              </a>
            
              <a href="https://www.linkedin.com/in/kelechi-ariwodo-735545114/" target="_blank" class="sm-btn">
                <img src="SiteImages/Icons/linked-in.png" alt="LinkedIn" class="sm-icon">
              </a>
    
              <a href="https://open.spotify.com/user/12172732320?si=b77411fc88ca40ae" target="_blank" class="sm-btn">
                <img src="./SiteImages/Icons/spotify.png" alt="Spotify" class="sm-icon">
              </a>
            </li>
            
            <li class="drop-menu">
                <button class="dropbtn" onclick="toggleResumeDropdown()" id="resume-btn">My Resumé</button>
                <div id="resume-menu" class="dropdown-content">
                  <a href="intro.hbs" target="_blank">View Resumé</a>
                  <a href="KAResume.pdf" download>Download Resumé</a>
                </div>
            </li>
            
          </ul>
        </div>
      </div>
        <!--right-col end-->

    </div>
    <!--container end-->
      
    
     
    {{> gallery}}
      
     
    <!--container end-->
    <style>
   
        #left-column, #center-column, #right-column {
            display: flex;
            margin: 0.25rem;
            align-items: center;
            flex-direction: column;
            position:relative;
            margin-inline-end: auto;
            margin-inline-start: auto;
        }    
    
        #left-column, #right-column {
            flex: 1;
            max-inline-size: 20%;
            gap: 0.125rem;
            min-inline-size: 10rem;
        }
        
        #right-column {
            inset-inline-end:0;
        }
        
        #center-column {
            background-image: url('SiteImages/gallery/spa.jpg');
            background-size: cover;
            background-position: center; 
            background-repeat: no-repeat;
            flex: 2;
            margin: 0 auto;
            max-inline-size: 60%;
        }
        
        #left-column {
            inset-inline-start:0;
        }
        
        
        input{
            /*font-family: "Pixelify Sans", sans-serif;*/
            padding: 5px 10px;
            border: 4px inset #c38da2;
            border-style: outset;
            /*background-color: #eeded2;*/
            color: #422c42;
            transition: background-color 0.3s ease, color 0.3s ease;
            cursor: pointer;
            box-shadow: 0 0 0 3px #eeded2;
        }
        
        img.windowIcon{
            float: center;
            block-size: 350px;
            inline-size: 100%
        }
    
        iframe {
            max-inline-size: 100%;
        }


        @media (max-inline-size: 840px) {
            #left-column, #right-column, #center-column {
                flex-basis: 100%; 
                max-inline-size: 100%; 
                block-size: auto;
            
            }
            #right-column{
                margin-block-end: 140px: 
            }
        }

        ul li button {
            inline-size: 100%;
            padding: 0.5rem; 
            margin-block-start: 0.5rem; 
            text-align: center;
            justify-content: center;
            box-sizing: border-box;
        }
        
        p {
            font-size: 20px;
            color: #a55280;
        }
        .sm-icon {
            inline-size: 25px;
            block-size: 25px;
        }

    </style>
    
    <script src="./js/download.js"> </script>
    <script src="./js/dropdown.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/search.js"></script>