<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a lil about me👋🏿</title>
   <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&ampdisplay=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">

    <style>
    main{
         margin: 0 auto ; 
        }
    
    h1{
      background-color: #0b553c;
      width: fit-content;
      border: 3px inset;
      padding: 0.5rem;
    }
    p, ol li, ul li{
      font-size: 24px;
    }
    
    img.resume {
      width: 100%;
      height: auto; 
      object-fit: cover;
      border-radius: 0px;
      box-shadow: 3px 3px #fff, 0 0 0 3px #eeded2;
      transition: transform 0.2s;
    }
    img.resume:hover {
      transform: scale(1.003);
    }
    

    </style>

  </head>
  
    <body>
    
    <header>
      <div class = "header-nav">
      
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/home">
          <button type="submit"> HOME </button> 
        </a>
      </div>

      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/intro">
          <button type="submit"> ABOUT </button> 
        </a>
      </div>
      
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/schedule">
          <button type="submit"> SCHEDULE </button> 
        </a>
      </div>
        
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/projects">
          <button type="submit"> PROJECTS </button> 
        </a>
      </div>
        
      <div class="button" style="justify-content; center;">
        <a href="https://itskelechi.neocities.org/blog">
          <button type="submit"> BLOGS </button> 
        </a>
      </div>      
        
      </div>
    </header>
        <img src = "Site Images/cloud.png" class="cloud">

    
      <main>
      <div class="container">
        <h1 class = "ombre-text"> About KEEKS 💖 </h1>

        <p class="pixelify-sans-pixelfy"> Hi name is Kelechi and I am <s> autistic</s>  <b> introverted</b>, <em>creative</em> and some might say clever :).</p>
        <br>
        <br>
        
        <!--99% Invisible-->
        <div class="window-spotify" style="margin: 0.5rem 0; width: 55%; height: auto;">
            <div class="title-bar-spotify" style="">
              <div class="title-bar-spotify-text" style="font-size: 20px"> pod of the week:</div>
            </div>            
            <div class="window-body">
              <iframe style="border-radius:0px" src="https://open.spotify.com/embed/show/2VRS1IJCTn2Nlkg33ZVfkM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
          </div>
          
          <!--resume-->
        <div class="window" style="margin: 0.5rem 0; width: 100%; height: auto;">
            <div class="title-bar" style="">
              <div class="title-bar-text" style="font-size: 24px"> My Resume</div>
            </div>    
            
            <div class="window-body" style="justify-content: center; text-align: center; padding: 0.75rem; ">
              <br>
              <br>
              <!--resume embed-->
              <img src="KAResume.png" alt="Kelechi Ariwodo's Resume" style="border: 3px inset #eeded2;" class="resume">
              <br>
              <br>
              <div style="display: inline-flex; align-content: center; justify-content: center;">
                <button onclick="downloadDoc()">Download </button>
            </div>
            
          </div>
        </div>
          
  <br>
  <br>
      <h1 class = "ombre-text">&#10024; My Hobbies &#10024;</h1>

     <div class="card">   
        <h4 >Other fun things about me...</h4>
          <ol style="padding: 0 3rem">
            <li> I draw and paint (physically, and digitally)</li>
            <li> I consider myself my design nerd - like the fashion+history+architecture trifecta
            <li> I really love <a href="blog.html" target="_blank"> MOVIES </a></li>
            <li> I'm addicted to sim builds </li>
            <li> I have wandering feet (I travel alot) </li>
            <li> I Knit and crotchet</li>
            <li> <a href="Poems.html" target="_blank"> I write tragedies </a></li>
          </ol>
        </div>
    <br>
     <br>
     
      <div class="window2" style="margin: 0.5rem 0; width: 55%; height: auto;">
        <div class="title-bar" style="">
          <div class="title-bar-text" style="font-size: 20px"> Favourite Quote: </div>
        </div>            
        <div class="window-body" style="padding: 1rem;">
          <h3 style ="text-align: center; font-style: italic; font-size: 24px">"just here to remind everyone that everything in the world is about love and when it isn't, it's about the absence of love"
          </h3>
          <h5 style = "text-align: right;"> - Fatima (@fatimazahiid via the bird app formerly known as twitter)
          </h5>
        </div>
      </div>
  </div>
    </main>
    <footer>
       <div class = "footer-nav">
        <!--start button-->
        <div class="button" style="justify-content; center;">
          <a href="https://itskelechi.neocities.org/home">
            <button type="submit"> 
              <img src="Site Images/start-btn.png" alt="Start" style="width:100%">
            </button> 
          </a>
        </div>
        <!--copyright-->
        <p id="copyright" style="font-size: 8px; justify-contnent: center;">legal mumbo jumbo</p>
         <!--time stamp-->
        <p id="last" style="font-size: 8px; justify-content: end;"> if you can read this houston we have a problem </p>
      </div>
<script src="Scripts/download.js"> </script>
    <script src="Scripts/script.js"></script>
    <script src="Scripts/dropdown.js"></script>

      </footer>

  </body>
</html>
