  <h1 class = "ombre-text"> About KEEKS 💖 </h1>
  
<div class="container">

  <div id="left-column">

    <h3 class = "ombre-text" style="text-align: center;">My &#10024;Hobbies&#10024;</h3>

    <!--99% Invisible-->
    <div class="window-spotify" style="margin: 0.5rem 0; block-size: auto;">
      <div class="title-bar-spotify" style="">
        <div class="title-bar-spotify-text" style="font-size: 20px"> pod of the week:</div>
      </div>            
      <div class="window-body">
        <iframe style="border-radius:0px" src="https://open.spotify.com/embed/show/2VRS1IJCTn2Nlkg33ZVfkM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>

    <div class="card">   
      <h5 >Other fun things about me...</h5>
      <ol>
        <li> I draw and paint (physically, and digitally)</li>
        <li> I consider myself my design nerd - like the fashion+history+architecture trifecta
        <li> I really love <a href="blog.html" target="_blank"> MOVIES </a></li>
        <li> I'm addicted to sim builds </li>
        <li> I have wandering feet (I travel alot) </li>
        <li> I Knit and crotchet</li>
        <li> <a href="/poems" target="_blank"> I write tragedies </a></li>
      </ol>
    </div>

    <div class="window2" style="inline-size: 65%; block-size: auto;">
      <div class="title-bar" style="">
        <div class="title-bar-text" style="font-size: 12px"> Favourite Quote: </div>
        <button class="close">&#10006;</button>
      </div>            
      <div class="window-body" style="padding: 1rem;">
        <h3 style ="text-align: center; font-style: italic; font-size: 10px">"just here to remind everyone that everything in the world is about love and when it isn't, it's about the absence of love"
        </h3>
        <br>
        <p style = "text-align: end; font-size: 8px"> - Fatima (@fatimazahiid via the bird app formerly known as twitter)
        </p>
      </div>
    </div>


  </div>      
        
  <div id="right-column">
    <!--resume-->
    <div class="window">
      <div class="title-bar" style="">
        <div class="title-bar-text" style="font-size: 24px"> My Resume</div>
        <button class="close">&#10006;</button>
      </div>    
      
      <div class="window-body" style="justify-content: center; text-align: center; padding: 0.75rem; ">
        <img src="./SiteImages/KAResume.png" alt="Kelechi Ariwodo's Resume" style="border: 3px inset #eeded2;" class="resume">
        <div style="display: inline-flex; align-content: center; justify-content: center;">
          <button onclick="downloadDoc()">Download </button>
        </div>
      </div>
    </div>

  </div>      
</div>

</main>
<style>
  #left-column, #right-column {
    display: flex;
    margin: 0.25rem;
    align-items: center;
    flex-direction: column;
    position:relative;
    margin-inline-end: auto;
    margin-inline-start: auto;
  }    

  #left-column {
    background-image: url('SiteImages/gallery/books.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    flex: 1;
    inset-inline-start: 0;
    max-inline-size: 35%;
    gap: 0.125rem;
    min-inline-size: 10rem;
    inset-inline-start:0;
    margin: 0.5rem auto;
    padding: 10px;
  }
  
  #right-column {
    background-image: url('SiteImages/gallery/computer-garden.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    inset-inline-end: 0;
    flex: 2;
    margin: 0 auto;
    padding: 10px;
    max-inline-size: 75%;
  }
  .card{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card h5{
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    font-size: clamp(12px, 4vh, 18px);
  }

  img.resume {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-radius: 0px;
    box-shadow: 3px 3px #fff, 0 0 0 3px #eeded2;
    transition: transform 0.2s;
  }

  @media (max-inline-size: 840px) {
    #left-column, #right-column {
        flex-basis: 100%; 
        max-inline-size: 100%; 
        block-size: auto;
    
    }
    #right-column{
        margin-block-end: 140px: 
    }
  }

        
</style>