<div id="frontpage">

   <h1>WELCOME...</h1>
    <div class="container">

        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">
                    WELCOME...
                </div>
                <div class="title-bar-ctrl">
                    <button class="close" id="mini" disabled>&#95;</button>
                    <button class="close" id="XCls" disabled>&#10006;</button>
                </div>
            </div>
            <div class="window-body">
                <p>Do You Wish To Continue?</p>
                <div>
                    <div class="button" >
                        <a href="/home" target="_blank">
                            <button type="submit"> Yes </button> 
                        </a>
                    </div>

                    <div class="button">
                        <button type="submit" id="No"> No </button> 
                    </div>
                </div>
        </div>


    </div>
     <p id="last"> HII </p>
</div> 
</main>
<style>
    .window{
        width: clamp(400px, 8vw, 850px);
        height: clamp(265px, 4vh, 650px);
    }
    .window-body {
        display: flex; 
        flex-direction: column;
        align-content: center;
        text-align: center; 
        justify-content: center;
    }
    .window-body div {
        display: inline-block;

    }
    .window-body div .button{
        margin: 20px 42px 0 0;
        width: fit-content;
       justify-content: center;
    }
    h1{
        font-size: 2.5rem;
    }
</style>