<div id="frontpage">

   <h1>WELCOME...</h1>
    <div class="container">

        <div class="window" style="margin: 32px; width: 400px; height: 260px;">
            <div class="title-bar">
                <div class="title-bar-text">
                    WELCOME...
                </div>
                <div class="title-bar-ctrl">
                    <button class="close" id="mini">&#95;</button>
                    <button class="close" id="XCls">&#10006;</button>
                </div>
            </div>
            <div class="window-body" style="padding: 1rem;">
                <p>Do You Wish To Continue?</p>
                <br>
                <div style= "display: inline-flex; align-content: end; justify-content: center;gap: 2rem">
                
                    <div class="button" style="justify-content: center;padding: 1rem;">
                        <a href="home" target="_blank">
                            <button type="submit"> Yes </button> 
                        </a>
                    </div>

                    <div class="button" style="justify-content: center; padding: 1rem;">
                        <button type="submit" disabled> No </button> 
                    </div>
                
                </div>
            </div>
        </div>


    </div>
     <p id="last"> HII </p>
</div> 
