<div class="container">
    
        <!--comment section-->
    <div id="left-column">
      </div>
    
    
     <!--poster designs-->
    <div id="right-column">
      <div class="window" style="margin: 0.5rem; width:100%; height:auto;">
      <div class="title-bar">
        <div class="title-bar-text" style="font-size: 24px">Graphic Design is my passion</div>
      </div>
      <div class="window-body" style="justify-content: center; text-align: center; padding: 0.75rem;">

          <div class="gallery-container">
            <div id="pdf-details">
              <h2 id="pdf-title" style="font-size:24px">Title Here</h2>
              <!--<p id="pdf-description">Description here.</p>-->
            </div>
            <div style=" border: inset">
              <img id="pdf-viewer" src="" alt="Gallery Image" style="max-width: 100%; height: auto;" />      
      
              <div id="pdf-details">
                <p id="pdf-description" style="font-size:16px">Description here.</p>
              </div>
            </div>
    
            <div id="navigation" >
              <button id="prev-btn" style="width:fit-content; justify-items: center;"><img src="SiteImages/prev-btn.png" alt="Search" style="max-width: 6vw"></button>
              <button id="next-btn" style="width:fit-content; justify-items: center;"><img src="SiteImages/next-btn.png" alt="Search" style="max-width: 6vw"></button>
            </div> 
          </div>
      </div>
    </div>
    </div>
    <script src="Scripts/gallery.js"> </script>
    <script src="Scripts/dropdown.js"></script>
    <script src="Scripts/script.js"></script>
    <script src="Scripts/comment.js"></script>


