* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto; 
  scrollbar-color: #c38da2 #eeded2;
}

:root {
  font-size: 24px;
  width: 100%;
  --background-pink: #e6bed4;  /* background */
  --mauve-pink: #a55280; /* text colour, window frame*/
  --light-mauve: #c38da2; /* header background, button text, dialog*/
  --dark-mauve: #824255;
  --cream: #eeded2; /* button fill (standard) */
  --mint-green: #cdffd8;  /* button hover colour */
  --sky-blue: #94b9ff; /* button visited */
  --black: #000000; /* special text dark mode */
  --white: #ffffff; /* special text light mode, button highlight */
  --baby-pink: #e0c5d0; /*button border*/
  --beige: #eeded2; /*Surface */
  --button-shadow-light: #eddde3; /*outset button shadow */
  --button-shadow-dark: #bd84a3; /*inset button shadow */
  --light-pink: #e8b7ca; /*dialog pink dark */
  --pale-pink: #eddde3; /*dialog pink light */
  --hunter-green: #0b553c; /*table headers, selected texts*/
  cursor: url(./SiteImages/icons/mouse-pointer.png), auto;  
}

body {
    background-color: var(--background-pink);
    background-image: url('./SiteImages/layout/site-background.png');
    
    font-family: "Arial", monospace;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 12px;
    color: var(--mauve-pink);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main{
  display: flex;
  flex-direction: column;
  font-family: "Silkscreen", sans-serif; 
  min-width: 375px;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--mauve-pink);

}


.pixelify-sans-pixelify {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--mauve-pink);
}

h1{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: var(--mauve-pink);
}

h2{
  font-size: 3rem;
    color: var(--mauve-pink);

}

h3{
  font-size: 2rem;
    color: var(--mauve-pink);
    font-weight: normal;

}

h4{
  font-size: 1rem;
    color: var(--mauve-pink);

}

h5{
  font-size: 0.5rem;
  color: var(--mauve-pink);
  font-style: none;
  text-decoration-color: var(--mauve-pink);
  text-decoration : underline;
}

p{
  font-size: 28px;
    color: var(--mauve-pink);
}
* ::-webkit-scrollbar{
  width: 8px; /* Width of the scrollbar */
  border: 2px outset var(--white);
  border-radius: 0;
}

* ::-webkit-scrollbar-track{
  background-color: var(--cream); 
  border-radius: 0;

}

* ::-webkit-scrollbar-thumb{
  background-color: var(--light-mauve); /* Scrollbar thumb color */
  border-radius: 0;
  border: 3px inset var(--cream); /* Adds padding inside the thumb */
}

* ::-webkit-scrollbar-thumb:hover{
  background-color: var(--mauve-pink); /* Hover color for the scrollbar thumb */
  border-radius: 0;

}

* ::selection{
  background-color: var(--hunter-green);
}


.home-page {
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;    
    align-items: center;        
    /*text-align: center;         */
    margin: 1rem;
}

#frontpage{
    background-image: url('./SiteImages/layout/site-landing.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
#waitroom{
    background-image: url('./SiteImages/layout/lounge.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

  }

/*--------------Header-----------------*/
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 0.5rem;
  background-color: var(--light-mauve);
  width: 100%;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 0.5rem;
}

.header-nav .button {
  
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
}

.header-nav .button a button {
  color: var(--light-mauve);
  width: 100%;
  padding: 10px 20px;
  background-color: var(--cream);
  border: 4px outset var(--white);
  cursor: url(./SiteImages/icons/mouse-pointer.png), pointer;  
  transition: var(--background-pink) 0.3s, color 0.3s;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  box-shadow: 3px 3px var(--button-shadow-dark), 0 0 0 3px var(--cream);

}

.header-nav .button a button:hover {
  background-color: var(--mint-green);
  color: var(--light-mauve);
}

/*.header-nav .button a:visited button {*/
/*  background-color: #a0c8d4;*/
/*  color: var(--mauve-pink);*/
/*}*/

/*------------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    box-sizing: border-box;
     

}

.container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px; 
    justify-content: center;
}
img.cloud{
      float: center;
      width: 100%;
      height: 150px;
    }

img.start{
  width: 100%;
  height: auto;
  float: left;
  /* clear: left; */
}
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

/*footer*/

footer {
  display: flex;
  bottom: 0;
  justify-content: left;
  align-content: center;
  width: 100%;
  /* font-family: "Silkscreen", sans-serif; */
  font-size: 12px;
  border: 3px outset var(--white); 
  background-color: var(--cream);
  color: var(--light-mauve);
  /* transition: var(--background-pink) 0.3s ease, color 0.3s ease; */
  /* box-shadow: 3px 3px var(--light-mauve), 0 0 0 3px var(--cream); */
  height: 10%
}

.footer-nav {
  display: flex;
  /*flex-grow: 1;*/
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-nav .button {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: left;
  width: 150px;
  
}

.footer-nav .button a button {
  color: var(--light-mauve);
  background-color: var(--cream);
  border: 4px inset var(--light-mauve);
  cursor: url(./SiteImages/icons/mouse-pointer.png), pointer;  
  transition: var(--background-pink) 0.3s, color 0.3s;
  text-align: center;
  box-shadow: 3px 3px var(--dark-mauve), 0 0 0 3px var(--light-mauve);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
}

.footer-nav .popbtn button img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.footer-nav .popbtn {
  color: var(--light-mauve);
  background-color: var(--cream);
  border: 4px inset var(--light-mauve);
  cursor: url(./SiteImages/icons/mouse-pointer.png), pointer;  
  transition: var(--background-pink) 0.3s, color 0.3s;
  text-align: center;
  box-shadow: 3px 3px #824255, 0 0 0 3px var(--light-mauve);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background-size: cover;
  background-position: center;

}

.dropdown {
  position: relative;
}


/*------------------------------------------------------------------*/


button,legend,select,option,table,.tree-view,.window,.title-bar,li [role=tab]{
    font-family: "Silkscreen", sans-serif;
    /*padding: 5px 10px;*/
    border: 3px outset var(--white); 
    background-color: var(--cream);
    color: var(--light-mauve);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: url(./SiteImages/icons/mouse-pointer.png), pointer;  
    box-shadow: 3px 3px var(--light-mauve), 0 0 0 3px var(--cream);
    width: 100%;
}

.input, textarea, input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*max-width: fit-content;*/
  overflow: hidden;
  border: 3px inset var(--light-mauve);
  box-shadow: 3px 3px #824255, 0 0 0 3px var(--light-mauve);
  font-family: "Silkscreen", sans-serif;
  /*padding: 1rem;*/

}

.label{
  text-align: left;
  padding: 0.25rem;
  
}
.input input[type='text']{
  /*flex-grow: 1;*/
  font-family: "Pixelated MS Sans Serif", Arial;
  padding: 10px 15px;
  border: inset;
  border-right: 3px inset var(--light-mauve);
  background-color: var(--cream);
  color: var(--light-mauve);
  outline: none;
}

.input button {
  background-color: transparent;
  border: 3px outset var(--white);
  padding: 0;
  cursor: url(./SiteImages/icons/mouse-pointer.png), pointer;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
}

.input button img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.input button:hover {
  background-color: var(--mauve-pink);
}

.input input[type="text"]:focus {
  background-color: #f5e3e8;
  color: var(--mauve-pink);
}

.button{
    font-family: "Silkscreen", sans-serif;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

.dropbtn, .popbtn {
  font-family: "Silkscreen", sans-serif;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}


.popup-content{
    bottom: 100%;
    margin-bottom: 5px;
}

.dropdown-content, .popup-content {
  display: none;
  position: absolute;
  background-color: #eddde3;
  min-width: 150px;
  box-shadow: 3px 3px var(--light-mauve), 0 0 0 3px var(--cream);
  z-index: 10;
  left: 0;
}

.dropdown-content, .popup-content a {
  color: var(--light-mauve);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content,.popup-content a:hover {
  background-color: var(--mint-green) ;
  color: black;
}

.popup .popup-content {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popup-content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* display dropdown */
.show {
  display: block;
}

button:hover {
    background-color: var(--mint-green);
    color: var(--mauve-pink);
}

button:active {
  box-shadow: 0 5px var(--light-mauve);
  transform: translateY(2px);
  outline: none;

}

button:disabled {
    background-color: #c6afb9;
    color: #ffffff;
 /*border: 3px outset #fff #e6bed4;*/
  cursor: url(./SiteImages/icons/mouse-pointer.png), not-allowed;  
}

form{
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  color: var(--mauve-pink);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
  align-items: center;
  padding: 1rem;
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  outline: 1px solid var(--mauve-pink);
  outline-offset: -4px;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  border: 0;
}

:disabled,
:disabled + label,
input[readonly],
input[readonly] + label {
color: var(--light-mauve);
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
:disabled + label {
  text-shadow: 1px 1px 0 var(--button-highlight);
}
.card{
  font-family: "Silkscreen", sans-serif;
  padding: 1rem;
  border: 3px outset var(--white); 
  background-color: var(--mint-green);
  color: var(--light-mauve);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: url(./SiteImages/icons/mouse-pointer.png), pointer;  
  width: 100%;
  box-shadow: 3px 3px var(--light-mauve) , 0 0 0 3px #bbd6be;
  border-style: outset;
}

.window {
  box-shadow: 3px 3px var(--light-mauve), 0 0 0 3px var(--cream);
  background: var(--beige);
  border-style: outset;
}

.window2 {
  box-shadow: 3px 3px #fff, 0 0 0 3px #c6afb9 ;
  background: var(--beige);
  border-style: inset;
  width: fit-content;
}

.window-spotify {  
  border: 3px outset var(--white);
  box-shadow: 3px 3px #648499, 0 0 0 3px #bbd6be;
  border-style: outset;
  background: #7ba5bf;
}

.window-body {
  margin: 0.5rem;
}

.window-body button {
  padding: 10px;
  display: flex;
  margin: 0.5rem;
  background-color: var(--light-mauve);
  color: var(--white);
  justify-content: center;
}
.window-body button:hover {
    background-color: var(--mint-green);
    color: var(--mauve-pink);
}

.window-body button:active {
    background-color: #a0c8d4;
    color: var(--mauve-pink);
    box-shadow: 0 5px var(--light-mauve);
    transform: translateY(2px);
    outline: none;

}

.window-body button:disabled {
    background-color: #c6afb9;
    color: #ffffff;
 /*border: 3px outset #fff #e6bed4;*/
  cursor: url(./SiteImages/icons/mouse-pointer.png), not-allowed;  
}

.window[role=tabpanel] {
  position: relative;
  z-index: 2;
}

.title-bar {
  background: linear-gradient(
    90deg,
    var(--light-pink),
    var(--pale-pink)
  );
  margin: 0;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 100;*/
}
.title-bar-spotify {
  background: linear-gradient(
    90deg, #bbd6be, var(--mint-green) );
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
    /*width: 100%;*/

}

.title-bar.inactive {
  background: linear-gradient(
    90deg,
    var(--dialog-gray),
    var(--dialog-gray-light)
  );
}

.title-bar-text {
  font-family: "Silkscreen", sans-serif;
  color: var(--white);
  letter-spacing: 0;
  margin-right: 24px;
  padding-left: 4px;
  
}
.title-bar-spotify-text {
  font-family: "Silkscreen", sans-serif;
  color: #000;
  letter-spacing: 0;
  margin-right: 24px;
    padding-left: 4px;  
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

.title-bar-controls button:active {
  padding: 0;
  box-shadow: 0 5px var(--light-mauve);
  transform: translateY(2px);
  outline: none;
}

.title-bar-controls button:focus {
  outline: none;
}

.sm-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--cream);
      color: var(--light-mauve); 
      border: 3px outset var(--white);
      padding: 5px;
      text-decoration: none; 
      width: fit-content;
      box-shadow: 3px 3px var(--light-mauve), 0 0 0 3px var(--cream);
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .sm-btn:hover {
      transform: scale(1.05);
      background-color: var(--mint-green);
      color: var(--mauve-pink);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .sm-icon {
      width: 45px;
      height: 45px;
    }

/*------------------------------------------------------------------*/


/*Gallery*/
.gallery-container {
  max-width: 100%; 
  margin: 0 auto;
  /*overflow-x: auto; */
  padding: 10px;
}

.gallery {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; 
  padding: 10px;
  overflow-x: auto;
}

.gallery img {
  width: auto;
  height: 300px; 
  object-fit: cover;
  border-radius: 0px;
  box-shadow: 3px 3px var(--light-mauve), 0 0 0 3px var(--cream);
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.gallery-container::-webkit-scrollbar-track {
  background-color: var(--cream); /* Track background color */
  border-radius: 10px; /* Optional: rounded corners */
}

.gallery-container::-webkit-scrollbar-thumb {
  background-color: var(--light-mauve); /* Scrollbar thumb color */
  border-radius: 10px; /* Optional: rounded corners */
  border: 3px solid var(--cream); /* Adds padding inside the thumb */
}

.gallery-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--mauve-pink); /* Hover color for the scrollbar thumb */
}

/* Custom Scrollbar for Firefox */
.gallery-container {
  scrollbar-width: thin; /* Sets scrollbar width to a thinner version */
  scrollbar-color: var(--light-mauve) var(--cream); /* thumb color and track color */
}
/*------------------------------------------------------------------*/

.nav{
  background-color: pink;
}

.ombre-text {
  font-weight: bold; 
  background: linear-gradient(to right, var(--mint-green), #94b9ff);
  -webkit-background-clip: text;
  color: transparent;
}

/*Links*/
a{
text-decoration: none;
color: var(--mauve-pink);
}

a:visited {
  color: #a0c8d4;
}

a:hover {
  color: #bbd6be;
}



#copyright,
#last {
    margin: 0; 
    padding: 0; 
    line-height: 1; 
    display: inline-block;
    font-size: small;
}
/*------------------------------------------------------------------*/

/*resposive design*/
@media (max-width: 880px) {
  img.cloud{
      float: center;
      width: 100%;
      height: 100px;
    }

}
@media (max-width: 660px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    gap: 7px;
  }

  .header-nav .button a button{
    width: 40%;
    text-align: center;
    justify-content: center;
    min-width: 124px
  }
  
  form{
   margin-left: 0; 
  }
  
  img.cloud{
      float: center;
      width: 100%;
      height: 75px;
    }

}
/*------------------------------------------------------------------*/


